body {
    background-color: #040406;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
  }
  .profile-img {
    width: 200px; 
    height: 200px; 
    border-radius: 50%; 
    object-fit: cover; 
    border: 5px solid black; 
    display: block;
    margin: auto; 
}

  .container {
    background-color: #F8FBF8;
    padding: 50px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(233, 233, 233, 0.1);
    text-align: center;
    margin: 50px auto;
    width: 100%;
  }
  .links {
    text-align: center;
    margin-top: 20px;
    padding: 20px;
    border: 1px solid #040406;
    border-width: 2px;
    width: 290px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 40px;
}

a {
  text-decoration: none;
  color: black;
  transition: color 0.8s; 
}

.bottom-text {
  text-align: center;
  margin-top: 40px;
  font-size: 20px;
  font-weight: bold;
}

a:hover {
  color: #FAF5EF;
  background: #040406;
}

  h1 {
    font-size: 2.5rem;
    color: #333;
  }
  
  p {
    font-size: 1.2rem;
    margin-bottom: 20px;
  }
  
  img {
    width: 150px;
    height: 150px;
  }
  